In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('for_streamlit.csv')

In [145]:
class Tweets:
    '''
    DataFrame containing all tweets and popularity per tweet, columns for likes.
    Used to collect create new dataframes to be plotted on streamlit.
    '''
        
    def get_data(self):
        return pd.read_csv('for_streamlit.csv')

    #choose figure
    def by_figure(self, figure_twitter_handle, start = '2021-01-01', finish = '2021-06-01'):
        data = self.get_data()
        by_figure =  data.groupby('figure').get_group(figure_twitter_handle)
        grouped_days = by_figure.groupby('date',as_index=False).agg({'popularity':'sum',
                                                 'likes_count':'sum',
                                                'retweets_count':'sum'})
        return grouped_days[(grouped_days['date']>start) & (grouped_days['date']<finish)]

        
   
    #choose region    
    def get_region(self, regions = []):
        pass

In [146]:
start = '2021-04-01'

In [147]:
pritipatel = Tweets().by_figure('pritipatel', start = start).head(2)

In [144]:
matthancock = Tweets().by_figure('matthancock', start=start)

In [105]:
test = pd.read_csv('for_streamlit.csv')

In [149]:
matthancock.head().set_index('date')

            popularity  likes_count  retweets_count
date
2021-04-02        63.5           93              24
2021-04-03       -70.0          132               9
2021-04-04       -36.0           52               9
2021-04-05       -25.5           81               8
2021-04-06       431.5          601             164

In [160]:
%time
fg = list(tweets.get_data().figure.unique())[:4]

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 10 µs

In [353]:
# popularity_df = pd.DataFrame()

def get_popularity(list_of_figures):
    emp_df = sorted(Tweets().get_data()['date'].unique())
    emp_df = pd.DataFrame(emp_df,columns=['date'])
    for figure in list_of_figures:
        fig_tweets = Tweets().by_figure(figure)
        fig_tweets = fig_tweets.rename({'popularity':figure},axis=1)
        fig_tweets = fig_tweets[['date',figure]]
        emp_df = emp_df.merge(fig_tweets, on='date')
    return emp_df

In [354]:
get_popularity(test_list)

           date  borisjohnson  grantshapps
0    2021-01-02          13.0         -1.5
1    2021-01-03        -205.5        -11.0
2    2021-01-04       -4392.5         -9.0
3    2021-01-05       -1661.5          1.0
4    2021-01-06       -1355.0         -5.5
..          ...           ...          ...
141  2021-05-26        6508.5        643.0
142  2021-05-27        4723.5       -147.0
143  2021-05-28         362.5        -13.5
144  2021-05-29         -53.5        -22.0
145  2021-05-30         878.5         -2.0

[146 rows x 3 columns]

In [320]:
test_list = fg[2:5]
test_list

['borisjohnson', 'grantshapps']

In [19]:
chosen_figures = [0,1,2,3,4]
length = len(chosen_figures)
def func(length):
    num_figures = len(chosen_figures)
    num_index=[]
    for num in range(num_figures):
        num_index.append(f"p{num}")
    return num_index

In [48]:
[','.join(func(4))]

['p0,p1,p2,p3,p4']

In [35]:
variables = func(len(chosen_figures))

In [36]:
def joins(variables):
    return ','.join(variables)

In [44]:
joins(variables)

'p0,p1,p2,p3,p4'

In [43]:
locals()[joins(variables)]= 1,2,3,4

In [30]:
x = func(4)
for i in range(len(x)):
    print(x[i])

p0
p1
p2
p3
p4

In [18]:

x = print(",".join(num_index))
x

p0,p1,p2,p3,p4

In [322]:
get_popularity(test_list)

              date
0       2021-06-12
1       2021-06-12
2       2021-06-12
3       2021-06-12
4       2021-06-12
...            ...
120630  2021-01-01
120631  2021-01-01
120632  2021-01-01
120633  2021-01-01
120634  2021-01-01

[120635 rows x 1 columns]

In [286]:
gs = get_popularity(test_list)

In [288]:
bj = get_popularity(['borisjohnson'])

In [291]:
gs.merge(bj,how='outer', on='date')

           date  grantshapps  borisjohnson
0    2021-01-02         -1.5          13.0
1    2021-01-03        -11.0        -205.5
2    2021-01-04         -9.0       -4392.5
3    2021-01-05          1.0       -1661.5
4    2021-01-06         -5.5       -1355.0
..          ...          ...           ...
145  2021-05-30         -2.0         878.5
146  2021-01-20          NaN           3.0
147  2021-05-02          NaN        -743.0
148  2021-05-05          NaN        1681.5
149  2021-05-31          NaN         -58.0

[150 rows x 3 columns]

In [290]:
bj.shape

(150, 2)

In [230]:
t_ = Tweets().by_figure(fg[0])
t_.rename({'popularity':'teststests'},axis=1,inplace=True)
t_ = t_[['date','teststests']]
t_

           date  teststests
1    2021-01-02       -21.5
2    2021-01-03        14.0
3    2021-01-04        62.5
4    2021-01-05         6.0
5    2021-01-06        11.0
..          ...         ...
143  2021-05-27        49.5
144  2021-05-28        -1.5
145  2021-05-29        91.0
146  2021-05-30        -7.0
147  2021-05-31        -4.5

[147 rows x 2 columns]

In [167]:
x = Tweets().by_figure('AngelaRayner')
x.head(2)

         date  popularity  likes_count  retweets_count
1  2021-01-02       -21.5           59              16
2  2021-01-03        14.0           16               3

In [170]:
y = Tweets().by_figure('grantshapps')
y.rename({'popularity':'grantshapps'},axis=1,inplace=True)
y.head(2)

         date  grantshapps  likes_count  retweets_count
1  2021-01-02         -1.5           13               0
2  2021-01-03        -11.0           20               8